.show-time-container
{
	float: left;
	width: 50%;
	min-width: 225px;
	font-size: 1.6em;
}

.show-time-container select
{
	height: auto;
}

.add-new-entry {
	background: #EBF5FF;
	border-width: 1px 0;
	border-style: solid;
	border-color: #829BB0;
	padding: 1em;
}

.set-joan-show-deets {
	width: 45%;
	padding: 0 1%;
	float: left;
}

.joan-message-window {
	position: fixed;
	top: 4em;
	right: 2em;
	width: 250px;
	padding: 1em;

	line-height: 25px;
	text-align: center;

	border: 1px solid;
	font-weight: bold;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-size: 1.4em;

	display: none;
	z-index: 500;
}

.set-joan-show-deets .show-detail {
	width: 100%;
}

input[name="showname"].show-detail {
	font-size: 1.6em;
}

.joan-entry
{
	display: none;
	clear: both;
}

.day-container 
{
	clear: both;
}

.joan-image {
	float: left;
	width: 10%;
	max-width: 100px;
	margin-right: 1%;
}

.joan-entry input[type="text"] {
	padding: 0.5em 0.3em;
}

.joan-entry .image-url
{
	width: 50%;
}

.joan-show-name input{
	font-size: 1.6em;
	padding: 0.5em 0.3em;
	width: 50%;
}

.joan-delete-show
{
	margin-left: 1em;
}

.tab-navigation {

	height: 1.8em;
	margin-bottom: 0;
}

.tab-navigation li {
	color: #21759B;
	cursor: pointer;

	float: left;
	display: block;
	width: auto;
	margin-right: 0.5em;
	padding-right: 0.5em;
	border-right: 1px solid #666;

	font-size: 1.4em;
}

.joan-tabs {
	position: relative;
}

.joan-tabs .tab-container 
{
	display: none;
	position: absolute;
	width: 100%;
}

.hide-on-simple {
	display: none;
}

.editing .hide-on-simple {
	display: block;
}


.clr {
	clear: both;
}